.venv/
.idea/
.ipynb_checkpoints/
wandb/
__pycache__/
lightning_logs/

data/
datasets/
legacy/figures/
classifier/checkpoints/
/evaluations/pivot_sample_data

*.zip
*.sqsh
*.out
*.csv
*.ckpt
*.log
*.pdf
*.png
*.tex

